parameters:
    level: 7
    paths:
        - app
        - database

    # Optional: autoload custom stubs or bootstrap files
    bootstrapFiles:
        - vendor/autoload.php
        - vendor/squizlabs/php_codesniffer/autoload.php

# Includes config from phpstan package
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/nunomaduro/larastan/extension.neon
